# Laravel 4 specific
admin/bootstrap/compiled.php
admin/app/storage/
# Laravel 5 & Lumen specific with changed public path
admin/public_html/storage
admin/public_html/hot
admin/.vagrant
admin/.phpunit.result.cache
admin/.phpunit.cache
admin/node_modules
admin/public/build
admin/public/hot
admin/public/storage
admin/storage/*.key
admin/storage/pail
admin/vendor
admin/.env
admin/.env.backup
admin/.env.production
admin/.phpactor.json
admin/.phpunit.result.cache
admin/Homestead.json
admin/Homestead.yaml
admin/npm-debug.log
admin/yarn-error.log
admin/auth.json
admin/.fleet
admin/.idea
admin/.nova
admin/.vscode
admin/.zed


# Vue Files
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
public/assets/media/images
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


